@import '../../common-css/colors';
@import '../../common-css/mixins';
@import '../../common-css/constants';

.sidebar{
    width: $sidebar-width;
    background: $secondary-brown;
    height: calc(100% - #{$sidebar-width});
    border-top-right-radius: 65px;
    text-align: center;
    padding-top: 40px;
    margin-top: 30px;


    div{
        height: 50px;
        width: 50px;
        margin: 15px 13px;
        background-color: white; 
        @include flex-center;
        @include box-shadow;
        cursor: pointer;
        border-radius: 5px;

        .nav-icon{
            width: 30px;
            height: 30px;
        }
    }

    div:hover{
        background-color: $primary-brown;
    }
    
}