@import '../common-css/mixins';
@import '../common-css/colors';
@import '../common-css/constants';

$logo-height: 50px;
$title-height: 50px;


.home-container{
    height: 100%;
    background-color: $secondary-brown;
    .logo-container{
        height: 30px;
        text-align: left;
        padding-left: 20px;
        padding-top: 20px;

        img{
            height: 40px;
            width: 40px;
        }
    }

    .title-container{
        height: $title-height;
        font-size: 36px;
        color: $primary-brown;
        
        font-weight: bold;
    }

    .path-container{
        height: calc(100% - #{$logo-height} - #{$title-height});
        @include flex-space-around;

        a{
            text-decoration: none;
            height: 70%;
            width: 35%;
            .path-selection{
                width: 100%;
                height: 100%;
                background-color: white;
                @include box-shadow;
                font-size: 36px;
                color: $primary-brown;
                font-weight: bold;
                cursor: pointer;
                .path{
                    @include flex-center;
                    height: 100%;

                }

            }
    
            .path-selection:hover{  
                color: white;
                background-color: $primary-brown; 
            }
        }
        
    }
}