@import '../common-css/mixins';
@import '../common-css/colors';
@import '../common-css/constants';



.search-container{
    width:  100%;
    height: calc(100% - #{$padding-size});
    padding-top: $padding-size;
    display: flex;

    
    .search-listing{
        height: 100%;
        width: calc(100% - #{$description-section-width} - #{$filter-section-width} - #{$empty-section-width}); 
        // margin: 0px 30px;
        background: $secondary-brown;
        border-top-left-radius: 65px;
        border-top-right-radius: 65px;

        .search-bar-container{
            display:flex;
            background: white;
            margin: $search-bar-margin 35px;
            border-radius: 50px;
            width: calc(100% - 70px);
            height: $search-bar-height;
            @include box-shadow;
                
            .input-container{
                width: 100%;
                padding: 5px 0px 5px 15px;
                border-top-left-radius: 50px;
                background: $secondary-brown;
                border-bottom-left-radius: 50px;
                margin: 5px;
                padding-right: 5px;
                @include flex-space-between;
                @include box-shadow;
                
                .search-icon, .close-icon, .empty-close{
                    width: 20px;
                    height: 20px;
                }

                .close-icon{ 
                    cursor: pointer;
                }
                 
                input{
                    border: none;
                    background: transparent;
                    color: $primary-brown;
                    height: 100%;
                    outline: none;
                    font-size: 16px;
                    width: calc(100% - 60px);
                }
                input::placeholder{
                    color: white;
                }
            }

            .button-container{
                .MuiButton-containedPrimary { 
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    margin-top: 5px;
                    margin-right: 5px;
                    height: 40px;
                }
            }

        }
        

        ::-webkit-scrollbar {
            width: 7px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: rgba(255,255,255,0.5); 
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: $primary-light-brown; 
            border-radius: 50px;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: $primary-brown; 
          }
    }

    .empty-section{
        width: $empty-section-width;
        border-bottom: 20px solid $secondary-brown;
    }

    .description-section{
        width: $description-section-width;
        background-color: $secondary-brown;
        border-top-left-radius: 65px;   
    }
}