$header-height: 60px;
$sidebar-width: 75px;

//Search Component 
$padding-size : 30px;
$description-section-width : 20%;
$filter-section-width : 250px;
$filter-section-padding: 20px;
$empty-section-width: 30px;
$search-bar-height: 50px;
$search-bar-margin: 40px;