 
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}